/* Reseteo básico de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo y fuente general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f5f0; /* Color de fondo suave y cálido */
    color: #333; /* Texto oscuro para buen contraste */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Formulario */
form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 550px;
    text-align: center;
}

/* Encabezado */
h2 {
    font-size: 1.8rem;
    color: #3a279a; /* Rosa pastel */
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.4rem;
    color: #3a279a; /* Lavanda suave */
    margin-bottom: 1.5rem;
}

/* Etiquetas y campos de entrada */
.campos {
    display: block;
    font-size: 1rem;
    color: #000000; /* Color morado suave */
    text-align: left;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #e0d0d6; /* Borde suave */
    border-radius: 5px;
    background-color: #f0f5fdac; /* Fondo de campo suave */
    font-size: 1rem;
    color: #000000;
}

/* Estilo para el botón de submit */
input[type="submit"] {
    background-color: #4a36ad; /* Rosa pastel */
    color: #fff;
    padding: 0.9rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background-color: #705cd5; /* Rosa más fuerte al pasar el cursor */
}

/* Estilo para mensajes de error */
#error-message {
    color: #ff3366; /* Rojo para el mensaje de error */
    font-size: 1rem;
    margin: 1rem 0;
    font-weight: bold;
}

a{
    text-decoration: none;
    border: 1px solid black;
    
}